@use '~@angular/material' as mat;

$mds-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$mds-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$mds-nature-warn: mat.define-palette(mat.$red-palette, 600);

$mds-nature-theme: mat.define-light-theme(
  $mds-nature-primary,
  $mds-nature-accent,
  $mds-nature-warn
);
