<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">{{ 'mds.examples.stocks.title' | translate }}</h1>
    </div>
  </div>
  <div class="row" [ngClass]="routeAnimationsElements" rtl>
    <ng-container *ngIf="stocks$ | async as stocks">
      <div class="row">


        <div class="col-md-6 col-lg-3">
          <form autocomplete="false">
            <mat-form-field>
              <input matInput [placeholder]="'mds.examples.stocks.symbol' | translate" [value]="stocks.symbol"
                (keyup)="onSymbolChange($event.target.value)">
            </mat-form-field>
          </form>
          <p>
            {{ 'mds.examples.stocks.description' | translate }} USD, BRL, GBP, MDST, USDT...
          </p>
          <br>
        </div>
        <div class="col-md-6 col-lg-4 offset-lg-1">
          <mat-spinner *ngIf="stocks.loading"></mat-spinner>
          <mat-card *ngIf="stocks.stock">
            <mat-card-title>{{stocks.stock.symbol}} <span>{{stocks.stock.last}} {{stocks.stock.ccy}}</span>
            </mat-card-title>
            <mat-card-subtitle>
              <p [ngClass]="{ negative: stocks.stock.changeNegative }">
                <fa-icon icon="caret-up" *ngIf="stocks.stock.changePositive"></fa-icon>
                <fa-icon icon="caret-down" *ngIf="stocks.stock.changeNegative"></fa-icon>
                {{stocks.stock.change}} ({{stocks.stock.changePercent}}%)
              </p>
            </mat-card-subtitle>
            <mat-card-content>{{stocks.stock.exchange}}</mat-card-content>
          </mat-card>
          <p *ngIf="stocks.error" class="error-state">
            <fa-icon icon="exclamation-triangle" size="3x"></fa-icon>
            <br><br>
            <span>
              {{ 'mds.examples.stocks.error1' | translate }}
              <span class="symbol">{{stocks.symbol}}</span>
              {{ 'mds.examples.stocks.error2' | translate }}
            </span>
          </p>
          <br>
          <br>
        </div>

      </div>
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <p>
            {{ 'mds.examples.ethereum.gasprice.description' | translate }}
          </p>
          <br>
        </div>
        <div class="col-md-6 col-lg-4 offset-lg-1">
          <mat-spinner *ngIf="loading"></mat-spinner>          

          <div *ngIf="errorMessage" class="alert alert-warning">
            <strong>Warning!</strong> {{errorMessage | json}}
          </div>

          <mat-card *ngIf="gasPrice">
            <mat-card-title>GasPrice<span>Fast</span>
            </mat-card-title>
            <mat-card-subtitle>
              <p [ngClass]="{ negative: stocks.stock.changeNegative }">
                <fa-icon icon="caret-up" *ngIf="stocks.stock.changePositive"></fa-icon>
                <fa-icon icon="caret-down" *ngIf="stocks.stock.changeNegative"></fa-icon>
                {{gasPrice.fast}}00000000 ({{gasPrice.fastWait}}s)
              </p>
            </mat-card-subtitle>
            <mat-card-content>                          
              <a href="https://docs.ethgasstation.info/"><img
                  src="https://gblobscdn.gitbook.com/spaces%2F-M4Tr40-JkLM9CWyiXAb%2Favatar-1586434471856.png?alt=media"
                  width="20px;" alt="EthGasStation" /><sub><b>EthGasStation</b></sub></a>
            </mat-card-content>
          </mat-card>
          <p *ngIf="stocks.error" class="error-state">
            <fa-icon icon="exclamation-triangle" size="3x"></fa-icon>
            <br><br>
            <span>
              {{ 'mds.examples.stocks.error1' | translate }}
              <span class="symbol">{{stocks.symbol}}</span>
              {{ 'mds.examples.stocks.error2' | translate }}
            </span>
          </p>
          <br>
          <br>
        </div>

      </div>

    </ng-container>
    <div class="col-md-12 col-lg-4" [ngClass]="routeAnimationsElements">
      <p>
        {{ 'mds.examples.stocks.text1' | translate }} <code>HTTP</code>
        {{ 'mds.examples.stocks.text2' | translate }} <code>@ngrx/effects</code>
        {{ 'mds.examples.stocks.text3' | translate }}
      </p>
      <p>{{ 'mds.examples.stocks.text4' | translate }}</p>
      <p>
        {{ 'mds.examples.stocks.text5' | translate }} <code>.switchMap</code>.
      </p>
      <p>{{ 'mds.examples.stocks.text6' | translate }}</p>
    </div>
  </div>
</div>