<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ 'mds.settings.title' | translate }}</h1>
    </div>
  </div>
  <br>
  <ng-container *ngIf="settings$ | async as settings">

    <div class="row">

      <!-- General -->
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'mds.settings.general.title' | translate }}</h2>

        <!-- Language -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'mds.settings.general.placeholder' | translate" [ngModel]="settings.language"
              (selectionChange)="onLanguageSelect($event)" name="language">
              <ng-container *ngFor="let l of languages">
                <!-- ngFor hack of missing ngLet of Angular -->
                <mat-option *ngFor="let title of ['mds.settings.general.language.' + l.value | translate]"
                  [value]="l.value" [title]="title !== l.label ? title : ''">
                  {{ l.label }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Sticky-Header -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="bars" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'mds.settings.themes.sticky-header' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.stickyHeader" (change)="onStickyHeaderToggle($event)">
          </mat-slide-toggle>
        </div>
      </div>

      <!-- Wallet -->
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'mds.settings.wallet.title' | translate }}</h2>

        <!-- Default Currency -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="currency" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'mds.settings.general.placeholder' | translate" [ngModel]="settings.language"
              (selectionChange)="onLanguageSelect($event)" name="language">
              <ng-container *ngFor="let l of languages">
                <!-- ngFor hack of missing ngLet of Angular -->
                <mat-option *ngFor="let title of ['mds.settings.general.language.' + l.value | translate]"
                  [value]="l.value" [title]="title !== l.label ? title : ''">
                  {{ l.label }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Elements -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="stream" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'mds.settings.animations.elements' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.elementsAnimations" (change)="onElementsAnimationsToggle($event)">
          </mat-slide-toggle>
        </div>

      </div>


    </div>


    <div class="row">

      <!-- Themes -->
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'mds.settings.themes.title' | translate }}</h2>

        <!-- Themes -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="paint-brush" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'mds.settings.themes.placeholder' | translate" [ngModel]="settings.theme"
              (selectionChange)="onThemeSelect($event)" name="themes">
              <mat-option *ngFor="let t of themes" [value]="t.value">
                {{ 'mds.settings.themes.' + t.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Night-Mode -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="lightbulb" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'mds.settings.themes.night-mode' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.autoNightMode" (change)="onAutoNightModeToggle($event)">
          </mat-slide-toggle>
        </div>
      </div>

      <!-- Animations -->
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'mds.settings.animations.title' | translate }}</h2>

        <!-- Navigation -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <mat-icon color="accent">
              <fa-icon icon="window-maximize"></fa-icon>
            </mat-icon>
          </mat-icon>
          <mat-placeholder>{{ 'mds.settings.animations.page' | translate }}
          </mat-placeholder>
          <mat-slide-toggle matTooltip="Sorry, this feature is disabled in IE, EDGE and Safari"
            matTooltipPosition="before" *ngIf="settings.pageAnimationsDisabled" disabled>
          </mat-slide-toggle>
          <mat-slide-toggle *ngIf="!settings.pageAnimationsDisabled" [checked]="settings.pageAnimations"
            (change)="onPageAnimationsToggle($event)">
          </mat-slide-toggle>
        </div>

        <!-- Elements -->
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="stream" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'mds.settings.animations.elements' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.elementsAnimations" (change)="onElementsAnimationsToggle($event)">
          </mat-slide-toggle>
        </div>

      </div>

    </div>
  </ng-container>
</div>