<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/images/logo.png" alt="" width="100" height="100">
        <h1 class="display-5 fw-bold">{{ 'mds.title.long' | translate }}</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">{{ 'mds.about.hero.description' | translate }}</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button mat-button color="primary">Register</button>
            <button mat-button color="accent">Login</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">    
      <div class="row align-items-center">
        <div class="col">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Hospitals</mat-card-title>
              <mat-card-subtitle>Growing worldly coverage</mat-card-subtitle>
            </mat-card-header>
            <app-hospital-svg></app-hospital-svg>
            <mat-card-content>
              <p>
                There is a perfect MedShare Plan for you and for your family.
                MedShare covers all the Services and the Hospital's expenses.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Doctors</mat-card-title>
              <mat-card-subtitle>All specialties are covered</mat-card-subtitle>
            </mat-card-header>
            <app-doctor-svg></app-doctor-svg>
            <mat-card-content>
              <p>
                Since eye-tests to heart surgeries,
                MedShare has the best professionals world-wide and they are ready to serve you.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Family</mat-card-title>
              <mat-card-subtitle>The System is Family Based</mat-card-subtitle>
            </mat-card-header>
            <app-family-svg></app-family-svg>
            <mat-card-content>
              <p>
                MedShare system works on a family basis.
                It takes all the family on account to share the funds in between the members.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Help Center</mat-card-title>
              <mat-card-subtitle>Call-center provided</mat-card-subtitle>
            </mat-card-header>
            <app-callcenter-svg></app-callcenter-svg>
            <mat-card-content>
              <p>
                MedShare provides call-centers all around the world.
                They'll help you find the best services and solutions.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary"
          routerLink="../feature-list">
          {{ 'mds.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
          [ngClass]="routeAnimationsElements">
          {{ 'mds.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
          [ngClass]="routeAnimationsElements">
          {{ 'mds.about.change-theme' | translate }}
        </a>
        <a href="https://www.buymeacoffee.com/dimitrileite" target="_blank">
          <img [ngClass]="routeAnimationsElements" src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png"
            alt="Buy Me A Coffee" height="42">
        </a>
        <br>
        <span [ngClass]="routeAnimationsElements">{{ 'mds.about.check-blogs' | translate }}</span>
        <br>
        <a mat-raised-button [ngClass]="routeAnimationsElements" rel="noopener noreferrer" target="_blank"
          href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Material Theming
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" rel="noopener noreferrer" target="_blank"
          href="https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Angular Cli Tips
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" rel="noopener noreferrer"
          href="https://medium.com/@tomastrajan/object-assign-vs-object-spread-in-angular-ngrx-reducers-3d62ecb4a4b0">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Ngrx Typescript Tips
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" rel="noopener noreferrer"
          href="https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          App Loading Style
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>{{ 'mds.about.get-started' | translate }}</h2>
        <code>git clone
          https://github.com/dimitrileite/medshare.git
          new-project</code><br>
        <code>cd new-project</code><br>
        <code>npm install</code><br>
        <code>npm start</code>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2 rtl>{{ 'mds.about.get-notified.title' | translate }}</h2>
    <p rtl>
      {{ 'mds.about.get-notified.follow' | translate }} <a href="https://www.twitter.com/releasebutler"
        rel="noopener noreferrer" target="_blank">Release
        Butler</a>
      {{ 'mds.about.get-notified.description' | translate }}
    </p>

    <img [src]="releaseButler" alt="Release Butler tweet example">
  </div>
</div>
<div class="container" rtl>
  <div class="contributors" [ngClass]="routeAnimationsElements">
    <h2>{{ 'mds.about.contributors.title' | translate }}</h2>
    <p>{{ 'mds.about.contributors.description1' | translate }}</p>
    <p>{{ 'mds.about.contributors.description2' | translate }}</p>
    <p>
      {{ 'mds.about.contributors.description3' | translate }}
      <a href="https://github.com/tomastrajan/medshare/issues" rel="noopener noreferrer"
        target="_blank">{{'mds.about.contributors.issues'
        | translate}}</a>
      {{ 'mds.about.contributors.description4' | translate }}
      <a href="https://github.com/tomastrajan/medshare/blob/master/CONTRIBUTING.md" rel="noopener noreferrer"
        target="_blank">{{'mds.about.contributors.guide'
        | translate}}</a>
      ...
    </p>

    <div class="contributors-wrapper">

      <!-- ALL-CONTRIBUTORS-LIST:START -->
      <a class="contributor" href="https://medium.com/@tomastrajan" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/3764868?v=4">
        <span>Tomas Trajan</span>
      </a>


      <a class="contributor" href="https://twitter.com/tim_deschryver" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/28659384?v=4">
        <span>Tim Deschryver</span>
      </a>


      <a class="contributor" href="http://santoshyadavblog.com" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/11923975?v=4">
        <span>Santosh Yadav</span>
      </a>


      <a class="contributor" href="http://gs500coder.blogspot.com" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/1336862?v=4">
        <span>Moshe</span>
      </a>


      <a class="contributor" href="https://github.com/hhubik" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/14813201?v=4">
        <span>hhubik</span>
      </a>


      <a class="contributor" href="https://github.com/mumairofficial" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/6498132?v=4">
        <span>Muhammad Umair</span>
      </a>


      <a class="contributor" href="https://github.com/philmerrell" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/2514268?v=4">
        <span>Phil Merrell</span>
      </a>


      <a class="contributor" href="https://www.linkedin.com/in/kharshats" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/1059539?v=4">
        <span>Valery Kharshats</span>
      </a>


      <a class="contributor" href="https://1nv1n.GitHub.io/" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/3885804?v=4">
        <span>Neil Pathare</span>
      </a>


      <a class="contributor" href="http://peterkrieg.com" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/7385488?v=4">
        <span>Peter Krieg</span>
      </a>


      <a class="contributor" href="https://github.com/alexkonovalov" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/11887873?v=4">
        <span>Alex</span>
      </a>


      <a class="contributor" href="https://github.com/scheifi" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/42332935?v=4">
        <span>Fiona</span>
      </a>


      <a class="contributor" href="https://www.dehopre.com" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/97023?v=4">
        <span>Fabien Dehopré</span>
      </a>


      <a class="contributor" href="http://www.matiasiglesias.com.ar" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/2591889?v=4">
        <span>Matias Iglesias</span>
      </a>


      <a class="contributor" href="https://github.com/Jeykairis" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/10895934?v=4">
        <span>Jeremy Kairis</span>
      </a>


      <a class="contributor" href="https://github.com/Zuiago" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/8050831?v=4">
        <span>Iago Andrade</span>
      </a>


      <a class="contributor" href="https://github.com/aideslucas" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/8929821?v=4">
        <span>aideslucas</span>
      </a>


      <a class="contributor" href="https://www.linkedin.com/in/terrystrachan/" rel="noopener noreferrer"
        target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/4921146?v=4">
        <span>Terry Strachan</span>
      </a>


      <a class="contributor" href="https://github.com/lau32" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/8844319?v=4">
        <span>Laurentiu Amagdei</span>
      </a>


      <a class="contributor" href="https://github.com/simply10w" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/16257515?v=4">
        <span>Petar Djordjevic</span>
      </a>


      <a class="contributor" href="https://github.com/ZackDeRose" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/3788405?v=4">
        <span>Zachary DeRose</span>
      </a>


      <a class="contributor" href="https://github.com/erhise" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/28264731?v=4">
        <span>erhise</span>
      </a>


      <a class="contributor" href="http://joost.io" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/14245982?v=4">
        <span>Joost Zöllner</span>
      </a>


      <a class="contributor" href="https://github.com/zetsnotdead" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/15807730?v=4">
        <span>Tomasz Kula</span>
      </a>


      <a class="contributor" href="http://code-it.eu/" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/18703886?v=4">
        <span>Front-End Developer</span>
      </a>


      <a class="contributor" href="http://vishalsodani.com" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/364183?v=4">
        <span>Vishal Sodani</span>
      </a>


      <a class="contributor" href="https://github.com/kosmas58" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/43474?v=4">
        <span>Kosmas Schütz</span>
      </a>


      <a class="contributor" href="https://github.com/huyen1990" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/44722180?v=4">
        <span>huyen1990</span>
      </a>


      <a class="contributor" href="https://medium.com/@chauey" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/5130533?v=4">
        <span>Chau (Joe) Nguyen</span>
      </a>


      <a class="contributor" href="https://www.amadousall.com/" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/8947112?v=4">
        <span>Amadou Sall</span>
      </a>


      <a class="contributor" href="https://github.com/dino" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/26004739?v=4">
        <span>Dino</span>
      </a>


      <a class="contributor" href="https://github.com/Doehl" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/1913751?v=4">
        <span>Mathias Døhl</span>
      </a>


      <a class="contributor" href="http://www.carlintveld.nl" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/6196260?v=4">
        <span>Carl in 't Veld</span>
      </a>


      <a class="contributor" href="https://github.com/abedzantout" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/4046627?v=4">
        <span>Abed Zantout</span>
      </a>


      <a class="contributor" href="https://github.com/wpcfan" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars3.githubusercontent.com/u/85388?v=4">
        <span>Peng Wang</span>
      </a>


      <a class="contributor" href="https://github.com/Flignats" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/947587?v=4">
        <span>Ray</span>
      </a>


      <a class="contributor" href="https://github.com/alharto" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/8003836?v=4">
        <span>alharto</span>
      </a>


      <a class="contributor" href="https://github.com/roniaxe" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/19142347?v=4">
        <span>roniaxe</span>
      </a>


      <a class="contributor" href="https://github.com/tenkmilan" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/4102195?v=4">
        <span>Milán Tenk</span>
      </a>


      <a class="contributor" href="https://github.com/KadarH" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars1.githubusercontent.com/u/23250431?v=4">
        <span>Kadar Hamza</span>
      </a>


      <a class="contributor" href="https://github.com/Zaky7" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars2.githubusercontent.com/u/16975648?v=4">
        <span>Zakir</span>
      </a>


      <a class="contributor" href="https://github.com/SiddharthSh" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars0.githubusercontent.com/u/22426668?v=4">
        <span>Siddharth</span>
      </a>


      <a class="contributor" href="https://github.com/tino-tg" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/21139323?v=4">
        <span>Tino Götz</span>
      </a>


      <a class="contributor" href="https://github.com/DinoSourcesRex" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/4295028?v=4">
        <span>Dino</span>
      </a>


      <a class="contributor" href="https://github.com/KingMario" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/3956876?v=4">
        <span>Changyu Geng</span>
      </a>


      <a class="contributor" href="https://github.com/omaralharthy" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/72017091?v=4">
        <span>omaralharthy</span>
      </a>


      <a class="contributor" href="https://github.com/mcanoglu" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/38083161?v=4">
        <span>mcanoglu</span>
      </a>


      <a class="contributor" href="https://github.com/danymarques" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/15036654?v=4">
        <span>Dany Marques</span>
      </a>


      <a class="contributor" href="https://github.com/allabouttech0803" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/34211469?v=4">
        <span>universaltutor5</span>
      </a>


      <a class="contributor" href="https://github.com/dvargas46" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/10914883?v=4">
        <span>Dan Vargas</span>
      </a>


      <a class="contributor" href="https://github.com/milantenk" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/4102195?v=4">
        <span>Milán Tenk</span>
      </a>

      <a class="contributor" href="https://github.com/dimitrileite" rel="noopener noreferrer" target="_blank">
        <img alt src="https://avatars.githubusercontent.com/u/23637961?v=4">
        <span>Dimitri de Jesus</span>
      </a>
      <!-- ALL-CONTRIBUTORS-LIST:END -->

    </div>
  </div>
</div>